* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

/* Dark mode */
body:not(.current-projects) {
  background-color: #121212;
  color: white;
  margin: auto;
}

/* Div styles */
.current-projects, .discontinued-projects {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin: 0;
  width: 100%;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(27, 27, 27);
  padding: 20px 20px 10px 20px;
  margin: 10px;
  border-radius: 5px;
  width: 600px;
  max-width: 90vw;
}
@media screen and (min-width: 1888px) {
  /* This should make sure only 2 projects are shown on each row on larger screens (I have no way to tests screens above 1440p) */
  .project {
    flex-basis: calc(100% / 3);
  }
}
@media screen and (max-width: 500px) {
  .project {
    padding: 0;
  }
}

/* Button styles */
a {
  padding: 10px 20px 10px 20px;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 10px;
  transition-duration: 0.2s;
  text-decoration: underline;
}
a:hover {
  background-color: rgb(40, 40, 40);
}
a:active {
  background-color: rgb(50, 50, 50);
}

h1, h2, h3, a, p {
  text-align: center;
  color: white;
}

/* Font sizes */
/* Use a base font size, defined as the font sizes of the <a> and <p> elements, so that other 
elements' font sizes automatically get updated, staying the same size relative to the <a> and 
<p> elements */
a, p {
  font-size: var(--base-font-size);
}
h1 {
  font-size: calc(2.1 * var(--base-font-size));
}
h2 {
  font-size: calc(1.7 * var(--base-font-size));
}
h3 {
  font-size: calc(1.4 * var(--base-font-size));
}

p {
  padding: 0 10px;
}

.notice {
  font-style: italic;
}

/* Image styles */
img {
  width: 100%;
  height: 100%;
  max-width: 95%;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid red;
}
picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid orange;
}
source {
  display: none;
}

/* Font sizes */
@media screen and (min-width: 1750px) and (min-height: 900px) {
  :root {
    --base-font-size: 28px;
  }
}

@media screen and (max-width: 1750px) and (min-height: 900px) {
  :root {
    --base-font-size: 24px;
  }
}

@media screen and (max-height: 900px) {
  :root {
    --base-font-size: 20px;
  }
}
